/* @font-face { font-family: "Roboto"; src: url("/fonts/Roboto-Regular.ttf") format("truetype"); } */

:root {
  font-family: "Roboto", "Arial";
  font-size: 16px;
  --color-black: hsl(240, 3%, 23%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(0, 0%, 89%);
  --color-medium-grey: hsl(0, 0%, 57%);
  --color-yellow: hsl(43, 86%, 59%);
  --font-size-xs: 0.67rem;
  --font-size-s: 0.75rem;
  --font-size-m: 0.875rem;
  --font-size-l: 1rem;
  --font-size-xl: 1.25rem;
}

* { box-sizing: border-box; margin: 0; padding: 0; border: 0; user-select: none; }
html { width: 100%; height: 100%; }
body { width: 100%; height: 100%; color: var(--color-black); background-color: var(--color-black); }
button { padding: 5px 15px; border-radius: 10px; font-size: var(--font-size-m); }
button:hover { cursor: pointer; }

#root { width: 100%; height: 100%; }

.rack-outer { width: 100%; height: 100%; }
.rack-inner { position: relative; width: 100%; height: 100%; }
.rack-widget { position: fixed; bottom: 50px; right: 50px; }

.module { background-color: var(--color-light-grey); border: 2px solid var(--color-medium-grey); padding: 10px; }
.module .module-type { width: 100%; padding: 0 0 10px; text-align: center; font-weight: bold; }
.module .slider { display: flex; flex-direction: column; align-items: center; justify-self: center; }
.module .slider label { font-size: var(--font-size-xs); }
.module input[type="range"] { -webkit-appearance: none; appearance: none; background: transparent; cursor: pointer; width: 100%; }
.module input[type="range"]::-webkit-slider-runnable-track { background: var(--color-black); height: 10px; border-radius: 5px; margin: 10px 0; }
.module input[type="range"]::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; margin-top: -12px; background-color: var(--color-black); height: 20px; width: 1rem; }
.module input[type="range"]:focus { outline: none; }
.module input[type="range"]:focus::-webkit-slider-thumb { outline: none; }



.module.oscillator { width: calc(50px * 4); height: calc(50px * 8); }
.module.to-device { width: calc(50px * 3); height: calc(50px * 8); }

svg { width: 100%; height: 100%; pointer-events: none; }
.cable { position: absolute; width: 100%; height: 100%; pointer-events: none; overflow: hidden; }
.ports { display: flex; flex-direction: row; align-items: center; justify-content: space-between; }
.port { display: flex; flex-direction: column; align-items: center; justify-content: center; width: 40px; padding: 2.5px; border-radius: 10px; }
.port * { pointer-events: none; }
.port.out-port { background-color: var(--color-black); color: var(--color-white); }
.port-icon { width: 30px; height: 30px; margin-bottom: 2.5px; }
.port-label { font-size: var(--font-size-xs); padding: 2.5px; }

.module-outer { position: absolute; }
.module-inner { position: relative; }